.dash-filter{
    color: white !important;
}
body{
    color: white;
}
input{
    background-color: #484e53;
    color: white
}
input:not([type=radio]):not([type=checkbox]) {
    color: white !important;
}
.row{
   margin-left: 0px;
   margin-right: 0px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(186, 186, 186, 0.89);
  border-radius: 5px;

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}